@charset"utf-8";
html{
    height: 100%;
}
body{
    position: relative;
    padding-bottom: 75px;
    min-height: 100%;
}
/* header navigation*/
.header_nav{
    background:linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;   
    position: fixed;
    top: 0;
    width: 100%; 
}
/*menu background img */
.section_inner{
    padding: 50px 10% 30px;
}
/*dic 文章*/
.section_inner_sunny{
    display: flex;
    font-size: 60%;
    text-align:justify;
}
/*div concept img */
.concept{
    float: right;
    width: 35%px;
    display: block;
    height: 100px;
   
}
/*dic header & background img */
.dic_header{
    padding: 30px 10% 50px;
    height: 500px;
    background: url(../images/sample_key.jpg)center/ cover no-repeat;
    font-family:'Sawarabi Gothic',serif;
    font-weight: bold;
      
}
.dic_header h1{
    font-size:2.5em;
    
}
/* concept header & sub*/
.section_title{
    text-align: center;
    font-family: 'Sawarabi Gothic', serif;
    font-weight: bold;
    margin-bottom: 50px;
    
}
li{
    list-style: none;
}
p,ul{
    margin: 0;
    padding: 0;
}
div,li{
    box-sizing: border-box;
}
.menu_img{
    background-image: url(../images/sample_menu_bg.jpg);
}
/*recommend menu */
.menu_title{
    font-family:'Sawarabi Gothic',serif;
    text-align: center;
    color: #42210b;
    border-bottom: solid #42210b 1px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.center{
    text-align: center;
}
.coffee_menu_image{
    width: 20%;
    border-radius: 50%;
}
.coffee_menu_content{
    width: 80%;
    padding: 10px;
}
/*navigation*/
.nav_item{
    color: #fff;
    text-decoration: none;
    display:flex;
    align-items: center;
    padding: 0 20px;
}
.nav_item:hover{
    background: #fff;
    color: #42210b;
}
.global_nav{
    display: flex;
    align-items: stretch;
}
.logo{
    width: 120px;
    display: flex;
    align-items: center;

}
.logo img{
    width: 100%;
}
.footer_nav{
    display: flex;
    justify-content: center;
}
.footer_nav_item{
    margin: 10px;
    color: #fff;
}
footer{
    background-color: #251e19;
    height: 75px;
}
.footer_logo{
    width: 80px;
}
.copyright{
    color: #fff;
    text-align: center;
}
.recommend_menu{
    display: flex;
}
.recommend_menu_amend{
    display: flex;
}
.section_access{
    width: 80px;
}